# Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [4]:
import numpy as np
import pandas as pd

In [2]:
rating = pd.read_csv('ratings.csv')   
movies = pd.read_csv('movies.csv')

In [3]:
def class_movies(param):  
    
    if param >= 4.5:
        return 'высокий рейтинг'
    elif param <= 2:
        return 'низкий рейтинг'
    else:
        return  'средний рейтинг'

In [13]:
rating_mean = rating.groupby('movieId')['rating'].mean().to_frame()  # находим средний рейтинг по каждому фильму

In [33]:
# рейтинг для каждого фильма по среднему значению всех оценок

rating_mean['class'] = rating_mean['rating'].apply(class_movies)
rating_movies = pd.merge(rating_mean, movies, on='movieId')

# проверяю
rating_movies[rating_movies['class'] == 'средний рейтинг'][:3]

,movieId,rating,class,title,genres
0,1,3.920930,средний рейтинг,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,3.431818,средний рейтинг,Jumanji (1995),Adventure|Children|Fantasy
2,3,3.259615,средний рейтинг,Grumpier Old Men (1995),Comedy|Romance

In [15]:
# рейтинг для каждого значения rating 

rating['class'] = rating['rating'].apply(class_movies).to_frame()
rating_movies = pd.merge(rating, movies, on='movieId')
rating_movies[:3]

,userId,movieId,rating,timestamp,class,title,genres
0,1,1,4.0,964982703,средний рейтинг,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,средний рейтинг,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,высокий рейтинг,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

# Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1.'Центр': ['москва', 'тула', 'ярославль'],
2.
3.'Северо-Запад': ['петербург', 'псков', 'мурманск'],
4.
5.'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [3]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'], 
'Северо-Запад': ['петербург', 'псков', 'мурманск'], 
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [16]:
request = pd.read_csv('C:\\Users\\Nat\\Downloads\\ПИТОН\\для_пандасФункц\\ml-latest-small\\keywords.csv')

In [31]:
df = pd.DataFrame (geo_data) # дата фрейм из словаря

def region_split (param):
    for city in df['Центр']:
        if city in param:
            return 'Центр'
    for city in df['Северо-Запад']:
        if city in param:
            return 'Северо-Запад'
    for city in df['Дальний Восток']:
        if city in param:
            return 'Дальний Восток'
    else:
        return 'undefined'
    
request['region'] = request['keyword'].apply(region_split)
request[request['keyword'] == 'псков'][:3]

      keyword  shows        region
11222   псков  24885  Северо-Запад

In [48]:
def region(row):
    
        for region, city_list in geo_data.items(): # получаем регион - строку и список городов
            for i in  city_list:
                if i in row:
                    return region
                    
        return('undefined') 
               
request['region'] = request['keyword'].apply(region)   
filtered_request = request[request['region'] == 'Центр']
filtered_request.head()

               keyword   shows region
127       авито москва  979292  Центр
849    авито ярославль  209581  Центр
1259            москва  153050  Центр
1396   гисметео москва  140279  Центр
1482  госуслуги москва  133061  Центр